# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#logs
*.tlog
*.log

#others
*.idb
**.vs

#compilation folders
**Debug
**Release
/hooks/executables/x64
/hooks/utilities/messageBox
/hooks/dropper_hooks/create_files
